body {
    background-color: #181616;
}
h2{
    font-family: 'Franklin Gothic Medium';
    color:azure;
    font-size: 15px;
}
hi{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:azure;
}